<div class="cartProduct">
  <img [src]="cartItem.imageUrl" alt="" class="cartProduct__image" />
  <div class="cartProduct__info">
    <p class="cartProduct__title">{{ cartItem.title }}</p>
    <p class="cartProduct__price">
      <small>$</small>
      <strong>{{ cartItem.price }}</strong>
    </p>
    <p class="cartProduct__quantity">
      <b>x {{ cartItem.quantity }}</b>
    </p>
    <div class="cartProduct__rating">
      <ng-container *ngFor="let _ of getModifiedRating(cartItem.rating)">
        <p>⭐</p>
      </ng-container>
    </div>
    <button (click)="onRemoveFromCart()">Remove from basket</button>
  </div>
</div>
