.cartProduct {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.cartProduct__image {
  min-width: 160px;
  width: 160px;
  height: 160px;
}

.cartProduct__rating {
  display: flex;
}

.cartProduct__info {
  padding-left: 20px;
}

.cartProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
}

.cartProduct__title {
  font-size: 17px;
  font-weight: 800;
}
